@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f4f8;
    color: #253900;
    margin: 0;
    background-image: url(../assets/imagemparceria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #253900;
    color: #EFEEEA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-sair {
    background-color: #ffc107;
    color: #253900;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.btn-sair:hover {
    background-color: #e0ac00;
}

.user-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 20px;
}

.user-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-content h2 {
    margin-bottom: 15px;
    font-size: 2em;
    color: #3b5936;
}

.user-content p {
    color: #666;
    margin-bottom: 25px;
}

.user-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-acao {
    background-color: #253900;
    color: #EFEEEA;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-acao:hover {
    background-color: #3b5936;
}



.separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.user-main-action {
    margin-bottom: 20px;
}

.btn-principal {
    background-color: #ffc107;
    color: #253900;
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-principal:hover {
    background-color: #e0ac00; 
}


.btn-acao i {
    margin-right: 8px;
}